.headset-main {
  margin: 0 auto;
  position: relative;
}

.headset-upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 100%;
  margin-top: 20px;
}

.headset-left img,
.headset-right img {
  height: 804px;
  width: 659px;
}

.headset-lower {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
  align-items: center;
  position: relative;
}

.headset-lower > video {
  height: 100vh;
  width: 92%;
  object-fit: cover;
  margin: auto;
}

.headset-play-pause-button {
  position: absolute;
  right: 70px;
  top: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  /* Add responsive styles here if needed */
}

@media (max-width: 768px) {
  .headset-left img,
  .headset-right img {
    width: 90%;
    height: 90vh;
  }

  .headset-upper {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }

  .headset-lower {
    margin-top: 50px;
  }

  .headset-lower > video {
    height: 90vh;
    width: 90%;
  }

  .headset-play-pause-button {
    right: 40px;
    top: 14px;
  }

  .headset-play-pause-button svg {
    height: 35px;
    width: 35px;
  }
}
